---
import { FaClock, FaStar } from "react-icons/fa";
import { FaLock, FaPencil } from "react-icons/fa6";
import { MdOutlineAutoGraph } from "react-icons/md";
import { IoCloudOffline } from "react-icons/io5";
import { Image } from 'astro:assets';
import noteImage from "@/assets/images/notes.png";


const features = [
  {
    name: "Customizable Habit Tracker.",
    description:
      "Easily track habits and set personalized goals and reminders to stay on track with your aspirations.",
    icon: FaStar,
  },
  {
    name: "Pomodoro Technique Timer.",
    description:
      "Use the Pomodoro timer to balance work and rest, boosting focus and preventing burnout.",
    icon: FaClock,
  },
  {
    name: "Reflective Note-Taking.",
    description:
      "Reflect on your day and habits with the journaling feature, enhancing mindfulness and self-awareness.",
    icon: FaPencil,
  },
  {
    name: "Progress Visualization",
    description:
      "See your progress with graphs and streaks, motivating your habit and productivity growth.",
    icon: MdOutlineAutoGraph,
  },
  {
    name: "Offline Mode.",
    description:
      "Access all features without an internet connection, ensuring your personal growth journey never skips a beat.",
    icon: IoCloudOffline,
  },
  {
    name: "Local Data Storage.",
    description:
      "Enjoy peace of mind knowing your personal information and progress are stored locally, not in the cloud.",
    icon: FaLock,
  },
];
---

<section id="features">
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl sm:text-center">
        <h2 class="text-base font-semibold leading-7">Everything you need</h2>
        <p
          class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
          No internet? No problem.
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Enjoy full functionality with our offline design, ensuring access to
          all features, from habit tracking to the Pomodoro timer, anytime,
          anywhere.
        </p>
      </div>
    </div>
    <div class="relative overflow-hidden pt-16">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <Image
          src={noteImage}
          alt="Notes feature."
          class="mb-[-12%] rounded-xl shadow-2xl ring-1 ring-gray-900/10"
          width={2432}
          height={1442}
        />
        <div class="relative" aria-hidden="true">
          <div
            class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-white pt-[7%]"
          >
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto mt-16 max-w-7xl px-6 sm:mt-20 md:mt-24 lg:px-8">
      <dl
        class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 text-base leading-7 text-gray-600 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16"
      >
        {
          features.map((feature) => (
            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-900">
                <feature.icon
                  className="absolute left-1 top-1 h-5 w-5 "
                  aria-hidden="true"
                />
                {feature.name}
              </dt>{" "}
              <dd class="inline">{feature.description}</dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</section>
