---
---

<footer  aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl pb-8 pt-16">
      <div class="space-y-2 text-center">
        <div>Made with ❤️ <a href="https://buxmannlabs.com" class="font-bold">Buxmann Labs</a></div>
      </div>
  </div>
</footer>
